<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>Login.jsp</welcome-file>
        <welcome-file>Home.jsp</welcome-file>
        <welcome-file>SellerHome.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.myproject.ecommerceapp.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.myproject.ecommerceapp.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProductServlet</servlet-name>
        <servlet-class>com.myproject.ecommerceapp.servlets.AddNewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDataUpdateServlet</servlet-name>
        <servlet-class>com.myproject.ecommerceapp.servlets.UserDataUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderNowServlet</servlet-name>
        <servlet-class>com.myproject.ecommerceapp.servlets.OrderNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.myproject.ecommerceapp.servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerDataUpdateServlet</servlet-name>
        <servlet-class>com.myproject.ecommerceapp.servlets.SellerDataUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProductServlet</servlet-name>
        <url-pattern>/AddNewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDataUpdateServlet</servlet-name>
        <url-pattern>/UserDataUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderNowServlet</servlet-name>
        <url-pattern>/OrderNowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerDataUpdateServlet</servlet-name>
        <url-pattern>/SellerDataUpdateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <tag/>
    </session-config>
</web-app>
